
mat-form-field {
  width: 100%;
}

mat-form-field input[matInput] {
  border: none ;
  padding: 0 ;
  border-radius: 0 ;
}


.plain-inputs input[type="text"],
.plain-inputs input[type="number"],
.plain-inputs input[type="checkbox"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}


form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

button {
  padding: 0.5rem 1rem;
}

.file-form-field
{
  margin: 10px;
}
.file-form-field > label
{
  margin-right: 10px;
}
