

* {
  pointer-events: auto !important;
}
body, html
{
  background: linear-gradient(180deg, rgba(145, 140, 127, 1.000) 0.000%, rgba(103, 109, 146, 1.000) 50.000%, rgba(6, 62, 128, 1.000) 100.000%);
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
header
{
  width: 100%;
  height: 10%;
  text-align: center;
  align-content: center ;
  background-color: gray;
  box-sizing: border-box;
  border: 2px solid black;

}
app-root
{

  width: 100%;


}
nav
{
  height: 100%;
  width: 200px;
  background-color: gray;
  box-sizing: border-box;
  border: 2px solid black;
  float: left;
}
main
{
  width: calc(100% - 200px);
  height: 100%;
  float: left;
}

.gameReviewContainer
{
  height: 100%;
  width: 100%;
  border: 2px solid black;
}
.gameReviewContainer > a
{
  width: 40%;
  height: 100%;
  float: left;

}

.gameReviewContainer > a > img
{
  width: 100%;
  float: left;
  margin-right: 10px;
}

.gameReviewContainer > div
{
  display: inline-block;
  height: 10px;
  width: 50%;

  --mat-progress-bar-track-color: black;
  --mat-progress-bar-active-indicator-color: yellow;
}
.gameReviewContainer > h3
{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%;
  display: inline-block;
}
.gameReviewContainer > .list
{
  width: 60%;
  height: 60%;
  display: inline-block;
}
.gameReviewContainer  .listItem
{
  height: 15%;
}
.bad
{
  background: linear-gradient(135deg, rgba(255, 255, 196, 1.000) 0.000%, rgba(255, 97, 100, 1.000) 50.000%, rgba(176, 0, 18, 1.000) 100.000%)
}
.good
{
  background: linear-gradient(90deg, rgba(0, 255, 196, 1.000) 0.000%, rgba(0, 255, 188, 1.000) 16.667%, rgba(0, 255, 179, 1.000) 33.333%, rgba(0, 246, 170, 1.000) 50.000%, rgba(0, 229, 161, 1.000) 66.667%, rgba(0, 211, 152, 1.000) 83.333%, rgba(0, 192, 143, 1.000) 100.000%)
}
button {
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
